.static-top {
    display: flex;
}

.card-board {
    width: 34%;
    height: 150px;
}

.number {
    margin-top: 50px;
    font-size: 50px;

}

.content {
    text-align: center;
}

.card-bottom {
    margin-top: 5px;
}